Source: malcontent
Section: misc
Priority: optional
Maintainer: Philip Withnall <withnall@endlessm.com>
Standards-Version: 4.3.0
Build-Depends:
 debhelper-compat (= 12),
 eos-metrics-0-dev (>= 0.5.0),
 gir1.2-glib-2.0,
 gobject-introspection (>= 1.30.0),
 gtk-doc-tools,
 itstool,
 libaccountsservice-dev (>= 0.6.39),
 libdbus-1-dev,
 libflatpak-dev,
 libgirepository1.0-dev (>= 1.30.0),
 libglib2.0-dev (>= 2.60.1),
 libglib-testing-0-dev,
 libgtk-3-dev (>= 3.24),
 libpam0g-dev,
 meson (>= 0.50.0),
 policykit-1,
 python3-gi,

Package: malcontent-control
Section: misc
Architecture: any
Multi-arch: same
Depends:
 malcontent-data (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Parental Controls UI
 This package contains a user interface for querying and setting parental
 controls for users.

Package: malcontent-data
Section: misc
Architecture: all
Depends:
 accountsservice,
 policykit-1,
 ${misc:Depends},
Conflicts: eos-parental-controls-data
Replaces: eos-parental-controls-data
Description: Parental Controls - architecture independent files
 This package contains the architecture-independent data files.

Package: malcontent-pam
Section: misc
Architecture: any
Multi-arch: same
Depends:
 malcontent-data (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Parental Controls PAM Module
 This package contains a PAM module which prevents logins for users who have
 exceeded their allowed computer time.

Package: malcontent-tools
Section: misc
Architecture: any
Multi-arch: same
Depends:
 malcontent-data (= ${source:Version}),
 gir1.2-malcontent-0,
 gir1.2-glib-2.0,
 python3,
 python3-gi,
 ${misc:Depends},
Description: Parental Controls Tools
 This package contains tools for querying and updating the parental controls
 settings for users.

Package: gir1.2-malcontent-0
Section: introspection
Architecture: any
Multi-arch: same
Depends:
 ${gir:Depends},
 ${misc:Depends},
Description: Parental Controls Library - introspection bindings
 This package contains a library for accessing the parental controls settings
 for users.
 .
 This package contains a machine-readable API description for
 libmalcontent for use by the client tools and other clients.

Package: gir1.2-malcontent-ui-0
Section: introspection
Architecture: any
Multi-arch: same
Depends:
 ${gir:Depends},
 ${misc:Depends},
Description: Parental Controls UI Library - introspection bindings
 This package contains a library with widgets for accessing the parental
 controls settings for users.
 .
 This package contains a machine-readable API description for
 libmalcontent for use by the client tools and other clients.

Package: libmalcontent-0
Section: misc
Architecture: any
Depends:
 malcontent-data (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Parental Controls Library
 This package contains a library for accessing the parental controls settings
 for users.

Package: libmalcontent-0-dev
Section: libdevel
Architecture: any
Multi-arch: same
Depends:
 libglib2.0-dev,
 libmalcontent-0 (= ${binary:Version}),
 ${misc:Depends},
Description: Parental Controls Library - library development
 This package contains a library for accessing the parental controls settings
 for users.
 .
 This package contains development files for clients.

Package: libmalcontent-0-tests
Section: misc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Parental Controls Library - tests
 This package contains a library for accessing the parental controls settings
 for users.
 .
 This package contains unit tests for the client APIs used to access the
 parental controls.

Package: libmalcontent-ui-0
Section: misc
Architecture: any
Depends:
 malcontent-data (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Parental Controls UI Library
 This package contains a library with widgets for accessing the parental
 controls settings for users.

Package: libmalcontent-ui-0-dev
Section: libdevel
Architecture: any
Multi-arch: same
Depends:
 libaccountsservice-dev,
 libglib2.0-dev,
 libgtk-3-dev,
 libmalcontent-0-dev (= ${source:Version}),
 libmalcontent-ui-0 (= ${binary:Version}),
 ${misc:Depends},
Description: Parental Controls UI Library - library development
 This package contains a library with widgets for accessing the parental
 controls settings for users.
 .
 This package contains development files for clients.
