Source: eos-parental-controls
Section: misc
Priority: optional
Maintainer: Philip Withnall <withnall@endlessm.com>
Standards-Version: 4.1.2
Build-Depends:
 debhelper (>= 10),
 gir1.2-glib-2.0,
 gobject-introspection (>= 1.30.0),
 gtk-doc-tools,
 libaccountsservice-dev,
 libdbus-1-dev,
 libgirepository1.0-dev (>= 1.30.0),
 libglib2.0-dev (>= 2.54.2),
 meson,
 policykit-1,
 python3-gi,

Package: eos-parental-controls-data
Section: misc
Architecture: all
Depends:
 accountsservice,
 policykit-1,
 ${misc:Depends},
Description: Parental Controls - architecture independent files
 This package contains the architecture-independent data files.

Package: eos-parental-controls-tools
Section: misc
Architecture: any
Multi-arch: same
Depends:
 eos-parental-controls-data (= ${source:Version}),
 gir1.2-eos-parental-controls-0,
 gir1.2-glib-2.0,
 python3,
 python3-gi,
 ${misc:Depends},
Description: Parental Controls Tools
 This package contains tools for querying and updating the parental controls
 settings for users.

Package: gir1.2-eos-parental-controls-0
Section: introspection
Architecture: any
Multi-arch: same
Depends:
 ${gir:Depends},
 ${misc:Depends},
Description: Parental Controls Library - introspection bindings
 This package contains a library for accessing the parental controls settings
 for users.
 .
 This package contains a machine-readable API description for
 libeos-parental-controls for use by the client tools and other clients.

Package: libeos-parental-controls-0
Section: misc
Architecture: any
Depends:
 eos-parental-controls-data (= ${source:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Parental Controls Library
 This package contains a library for accessing the parental controls settings
 for users.

Package: libeos-parental-controls-0-dev
Section: libdevel
Architecture: any
Multi-arch: same
Depends:
 libglib2.0-dev,
 libeos-parental-controls-0 (= ${binary:Version}),
 ${misc:Depends},
Description: Parental Controls Library - library development
 This package contains a library for accessing the parental controls settings
 for users.
 .
 This package contains development files for clients.

Package: libeos-parental-controls-0-tests
Section: misc
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Parental Controls Library - tests
 This package contains a library for accessing the parental controls settings
 for users.
 .
 This package contains unit tests for the client APIs used to access the
 parental controls.